@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&family=Pacifico&display=swap');

*{
    padding:0;
    margin: 0;
}

:root{
    --dark-blue:#37638E;
    --light-blue:#DFEEF1;
    --orange: #E9A47D;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    @media screen and (max: width 1200px) and (min-width:768px){
        background:white
    }
}

/* General settings */
h1{
    font-weight: 400;
    color: var(--dark-blue);
    /*font-size: 2.7vh;*/
}

h3{
    font-weight: 400;
    color: var(--dark-blue);
    margin: 0.5rem 0;
}

.center__items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.practice__btn{
    margin-top: 1rem;
    border: none;
    background: transparent;
}

.practice__btn a{
    text-decoration: none;
    color: var(--orange);
    font-weight: 500;
    font-size: 1rem ;
}

.information{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 3rem 0;
}
.information h1{
    text-align:center;
    margin:20px 0px;
}
.information__container{
    /*max-width: 100%;*/
    /*width: 100%;*/
    display: inline-block;
    justify-content: space-between;
    padding: 1rem 0px;
    display: block;
    
}

ul{
    list-style: none;
}

ul li a{
    text-decoration: none;
}

button a{
    text-decoration: none;
    color: white;
}

/* Navigation =============== */

/*nav{
    height: 110px;
    position: relative;
}*/
.nav-link{
    color: rgb(0 0 0);
    margin: 0px 10px;
}
.nav-link:hover {
    color: #e9a47d;
}
.bg-light{
    height: 110px;
}
.logo{
    position: absolute;
    top: 5px;
    left: 10%;
    font-family: 'Pacifico', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: var(--orange);
    border-radius: 50%;
    color: var(--dark-blue);
}

.logo h1 {
    font-size: 20px;
}

/* Menu List ====================================== */
.menu__list{
   display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 110px;
    line-height: 110px;
    background-color: var(--light);
    padding-right: 2rem;
}

.menu__list a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: var(--green);
    margin: 0 20px;
    position: relative;
    padding: 0 10px;
    color: #333;
    font-weight: 600;
}

.menu__list a:hover{
    color: #e9a47d;
}

.menu__list a:after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--red);
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.menu__list a:hover:after{
    animation: effect;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes effect{
    0%{
        opacity: 0;
        bottom: 0;
    }
    50%{
        opacity: 0.5;
        bottom: -4px;
    }
    100%{
        opacity: 1;
        bottom: -6px;
    }
}

.menu__list ul li{
    float: left;
    list-style: none;
    position: relative;
}

.menu__list ul li a{
    display: block;
}

.menu__list .dropdown{
    display: none;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    left: 10px;
    background-color: white;
    width: 200px;
}

.dropdown a{
    /*margin: 10px;*/
    width: fit-content;
}

.menu__list ul li:hover .dropdown{
    display: flex;
}

.menu__list ul li:hover i {
    transform: rotate(180deg);
}

/* Container Landing Image =======================*/
#container{
    height: 100vh;
    width: 100%;
    background-image: url(../images/yoga\ picture.jpg);
    background-position: center;
    background-size: cover;
}

#container .container__text{
    transform: translateX(-60%);
    max-width: 350px;
    animation: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.container__text button{
    border: none;
    background-color: var(--orange);
    padding: 10px 20px;
    border-radius: 18px;
    margin-top: 10px;
}

.container__text button a{
    font-size: 20px;
}

/* Information  ===========================*/
.information__container .info__card{
    /*width: 25%;*/
    text-align: center;
}

.info__card .card__icon{
    color: var(--light-blue);
    border: solid 1px var(--dark-blue);
    border-radius: 50%;
    padding: 1rem;
    font-size: 4vh;
}

/* Teachers Container  ====================*/
#teachers__container{
    height: 30vh;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#teachers__container .illustration{
    height: 90%;
    width: 66%;
    max-width: 800px;
    background: url(imgs/illustration.png);
    background-position: center;
    background-size: cover;
}

#teachers__container .teachers__text{
    height: 90%;
    width: 33%;
    max-width: 400px;
    text-align: center;
}

.teachers__text h1{
    margin-bottom: 1rem;
}

/* Prices =================================*/

.information__container .price__card{
    border: solid 1px #eee;
    position: relative;
    margin-bottom: 10px;
}

.price__card h2{
    width: 100%;
    color: white;
    font-weight: 300;
    padding: 5px 0;
}

.price__card ul{
    margin-top: 3rem;
}

.price__card button{
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 1rem 0;
    outline: none;
}

#class__plan h2{
    background-color: #E99A7D;
}
#class__plan h2:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 89px ;
    background-color: #fadece;
    clip-path: polygon(50% 0, 100% 50%,50% 100%, 0 50% );
    z-index: -1;
}

#class__plan button{
    background-color: #E99A7D;
}

#monthly__plan h2{
    background-color: #516C59;
}
#monthly__plan h2:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 89px ;
    background-color: #D9ECDF;
    clip-path: polygon(50% 0, 100% 50%,50% 100%, 0 50% );
    z-index: -1;
}

#monthly__plan button{
    background-color: #213f2a;
}

#yearly__plan h2{
    background-color: #37638E;
}
#yearly__plan h2:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 89px ;
    background-color: #D0E3F5;
    clip-path: polygon(50% 0, 100% 50%,50% 100%, 0 50% );
    z-index: -1;
}

#yearly__plan button{
    background-color: #37638E;
}

/* Subscribe  ===========================*/
#subscribe{
    /*height: 30vh;*/
    width: 100%;
    background-color: var(--orange);
    padding: 30px 0px;
     height: 100vh;
    width: 100%;
    background-image: url(../images/yoga\ picture.jpg);
    background-position: center;
    background-size: cover;
}

#subscribe img{
    height: 100px;
}

#subscribe p{
   max-width: 350px;
    text-align: center;
    color: white;
    margin: 1rem 0px;
    width: 60%;
}

#subscribe form{
    max-width: 522px;
    width: 90%;
    height: 40px;
    background-color: violet;
    display: flex;
}

form input{
    height: 100%;
    width: 70%;
    border: none;
    outline: none;
    padding-left: 1rem;
}

form button{
    height: 100%;
    width: 50%;
    border: none;
    background-color: var(--dark-blue);
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

/* Footer  ===============================*/
footer{
    background-color: var(--dark-blue);
    width: 100%;
    display: flex;
    justify-content: center;
   padding: 20px 0px;
}

footer .footer__col{
    /*margin: 1rem 2rem;*/
}
.col {
    width: 33.33%;
    text-align: center;
}

.footer__col a{
    color: var(--light-blue);
}

footer .social ul li{
    display: inline-block;
}

footer .social .fab{
    font-size: 1.5rem;
    margin: 0 10px;
}
.footer__col ul li a{
    color: #fff;
}
.footer__col h2 {
    color: #fff;
    font-size: 18px;
}
.footer__col span , strong{
color:#fff;
}
.footer__col span{
margin-right: 10px;
}
img {
    background-position: top;
}

/*About Us page css*/
.about__wrapper{
    margin: 80px auto;
    width: 75%;
    background-color: lightgray;
    padding: 20px;
    border-radius: 5px;
}
.about__wrapper h1{
    font-size: 36px;
}
/*Contact us page css*/
.contact__wrapper{
    margin: 80px auto;
    width: 75%;
    background-color: lightgray;
    padding: 20px;
    border-radius: 5px;
}
.contact__wrapper h1{
    font-size: 36px;
}


/*New Css*/
.sec-strt{
    float: left;
    width: 100%;
}
.information__container ul li {
    margin: 10px 0px;
}
.icon{
    position: absolute;
    right: 35px;
    top: 20px;
    text-decoration: none;
    color: blue;
    font-weight: 500;
    border: 1px solid gray;
    padding: 5px;
    line-height: 20px;
}
.mobile-responsive{}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    /*.information__container{
        display: flex;
        
    }*/
    .icon{
        display: none;
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }


@media (max-width:1025px){
  
  .teachers__text.center__items p{
    padding: 15px;
  }
  #mobile__responsive{
    display: none;
  }
  div#mobile__responsive {
    position: absolute;
    background-color: #e17610;
    top: 53px;
    right: 35px;
    width: 38%;
    
    }
    div#mobile__responsive ul li{
        display:inline-block;
        width: 100%;
        margin: 4px 0;
    }
    div#mobile__responsive ul li a{
        display:block;
        width:100%;
    }
    h1 {
    
    font-size: 20px;
   }
   .logo{
    width: 110px;
    height: 110px;
   }
   #container .container__text{
    transform: translateX(0%);
   }
   
   .navbar-collapse{
    top: 63px;
    position: relative;
    background-color: #fff;
   }
   .nav-link {
    margin: 4px 30px;
   }
}

